# Project name to separate multiple bitrixdock instances
PROJECT=

# PHP version settings. Allowed value is php53, php56, php71 or php74.
PHP_VERSION=php74

# Web server type. Allowed value is apache or nginx.
WEB_SERVER_TYPE=nginx

# MySQL settings. Allowed value is mysql, mysql_for_php53 or percona.
DB_SERVER_TYPE=mysql
MYSQL_DATABASE=bitrix
MYSQL_USER=bitrix
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123

# Network
INTERFACE=0.0.0.0

# Site paths
BITRIX_PATH=/var/www/bitrix
CONTENT_PATH=./var/html

# NOTICE: BITRIX_PATH != /bitrix/ folder
# NOTICE: BITRIX_PATH folder must contain subfolder /bitrix/ with Bitrix Framework
